@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0D0E11;
    margin: 0;
    color:#FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Needed for absolute positioning of center-links */
    padding: 10px 20px;
    height: 5vh;
    background-color: #0D0E11;
    border-bottom: 1px solid #26272A;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    font-weight: 500;
    gap:10px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s ease;
    cursor:default;
}
nav .center-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
nav .right-link {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.15s ease;
}
nav a:hover {
    color: #1A9DE6;
}
nav .right-link a {
    font-size: 1.1rem;
    color: #FFFFFF;
    transition: color 0.15s ease;
}
nav .right-link a:hover {
    color: #FF4C4C;
}
.hunt {
    position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hunt .level {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.hunt input {
    margin-top:10vh;
    width: 300px;
    padding: 10px;
    font-size: 1.15rem;
    border: 1px solid #434347;
    border-radius: 5px;
    background-color: #191C1D;
    color: #FFFFFF;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: border-color 0.15s ease;
}
.hunt input:focus {
    border-color: #6c6c70;
}